---
layout: ms
description:
keywords:
title: Místní sdružení Třebíčsko
viewMode: grouped
groups:
  - name: Předsednictvo místního sdružení Třebíčsko
    sort: ordpmstrebicsko
    category: pmstrebicsko
  - name: Členové místního sdružení Třebíčsko
    category: mstrebicsko
---

<h1 class="head-heavy-base">Zastupitelstva</h1>

<article class="card elevation-0 bg-grey-50 container-padding--zero md:container-padding--auto">
    <div class="card__body p-4 lg:p-8 flex space-x-8 items-start">
      <img src="https://a.pirati.cz/vysocina/img/trebic.png" class="w-16" />
      <div class="space-y-4 flex-grow">
        <div>
          <h1 class="head-alt-base mb-2">Třebíč</h1>
          <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4">
            <span><b>Společně otevřeme Třebíč</b> - koalice Pirátů a TOP 09</span>
          </div>
          <p class="mt-2 font-light text-sm leading-snug">opozice</p>
        </div>
      </div>
    </div>

    <a href="https://vysocina.pirati.cz/lide/roman-pasek/" class="candidate-table-row" style="text-decoration: none;">
        <div class="avatar candidate-table-row__avatar">
        </div>
        <div class="candidate-table-row__name head-heavy-2xs font-bold">Roman Pašek</div>
        <div class="candidate-table-row__bio font-condensed">zastupitel, předseda kontrolního výboru, člen sociální komise</div>
        <div class="candidate-table-row__affiliation">
          <div class="avatar w-6 mr-2">
            <img src="https://a.pirati.cz/vysocina/img/brand/logo.svg" alt="Avatar" />
          </div>
          <span class="font-bold font-condensed">Pirátská strana</span>
        </div>
    </a>

    <a href="https://vysocina.pirati.cz/lide/stanislav-neuman/" class="candidate-table-row" style="text-decoration: none;">
        <div class="avatar candidate-table-row__avatar">
        </div>
        <div class="candidate-table-row__name head-heavy-2xs font-bold">Stanislav Neuman</div>
        <div class="candidate-table-row__bio font-condensed">zastupitel, člen sportovní komise</div>
        <div class="candidate-table-row__affiliation">
          <div class="avatar w-6 mr-2">
            <img src="https://a.pirati.cz/vysocina/img/brand/logo.svg" alt="Avatar" />
          </div>
          <span class="font-bold font-condensed">Pirátská strana</span>
        </div>
    </a>

</article>

<article class="card elevation-0 bg-grey-50 container-padding--zero md:container-padding--auto">
    <div class="card__body p-4 lg:p-8 flex space-x-8 items-start">
      <img src="https://a.pirati.cz/vysocina/img/jaromerice.png" class="w-16" />
      <div class="space-y-4 flex-grow">
        <div>
          <h1 class="head-alt-base mb-2">Jaroměřice nad Rokytnou</h1>
          <div class="flex flex-col sm:flex-row space-y-2 sm:space-y-0 sm:space-x-4">
            <span><b>Jaroměřicko - náš domov</b> - sdružení nezávislých kandidátů a Pirátů</span>
          </div>
          <p class="mt-2 font-light text-sm leading-snug">koalice</p>
        </div>
      </div>
    </div>

    <a href="https://vysocina.pirati.cz/lide/jaroslav-vysoky/" class="candidate-table-row" style="text-decoration: none;">
        <div class="avatar candidate-table-row__avatar">
        </div>
        <div class="candidate-table-row__name head-heavy-2xs font-bold">Jaroslav Vysoký</div>
        <div class="candidate-table-row__bio font-condensed">neuvolněný radní</div>
        <div class="candidate-table-row__affiliation">
          <div class="avatar w-6 mr-2">
            <img src="https://a.pirati.cz/vysocina/img/brand/logo.svg" alt="Avatar" />
          </div>
          <span class="font-bold font-condensed">Pirátská strana</span>
        </div>
    </a>

    <a href="" class="candidate-table-row" style="text-decoration: none;">
        <div class="avatar candidate-table-row__avatar">
        </div>
        <div class="candidate-table-row__name head-heavy-2xs font-bold">Zdeněk Chroust</div>
        <div class="candidate-table-row__bio font-condensed">radní</div>
        <div class="candidate-table-row__affiliation">
          <div class="avatar w-6 mr-2">
          </div>
          <span class="font-bold font-condensed">bez PP</span>
        </div>
    </a>

    <a href="" class="candidate-table-row" style="text-decoration: none;">
        <div class="avatar candidate-table-row__avatar">
        </div>
        <div class="candidate-table-row__name head-heavy-2xs font-bold">Miloslav Janda</div>
        <div class="candidate-table-row__bio font-condensed">zastupitel</div>
        <div class="candidate-table-row__affiliation">
          <div class="avatar w-6 mr-2">
          </div>
          <span class="font-bold font-condensed">bez PP</span>
        </div>
    </a>

</article>

<br><br>

<div>
    {% if page.viewMode == 'grouped' %}
    {% for group in page.groups %}
      <section>
        {% assign team = site.people | where_exp: "item", "item.categories contains group.category" %}
        {% if group.sort %}
          {% assign team = team | sort: group.sort %}
        {% endif %}
        {% include people/list-group.html team=team teamName=group.name teamShortcut=group.category %}
      </section>
      {% unless forloop.last %}<br><br>{% endunless %}
    {% endfor %}
  {% else %}
    {% if page.category %}
      {% assign team = site.people | where_exp: "item", "item.categories contains page.category" %}
    {% else %}
      {% assign team = site.people %}
    {% endif %}

    {% if page.sort %}
      {% assign team = team | sort: page.sort %}
    {% endif %}

    <section>
      {% include people/list-responsive.html team=team %}
    </section>
  {% endif %}
</div>
