<div class="medium-6 large-4 {{ thecycle }} columns {% if forloop.last %} end {% endif %}">
    <a href="{{ include.url }}">
        <article class="article-card">
            <img src="{{ include.image }}">
            <div class="card-content">
                <h4 class="post-author">{{ include.title }}</h4>
                <p> {{ include.description }}
                </p>
                {% if include.button %}
                <div class="text-right">
                    <span class="label alert">{{ include.button }}</span>
                </div>
                {% endif %}
            </div>
        </article>
    </a>
</div>
