
{% if page.boardkz %}
  <div class="content-block">
  <h2>{{ page.boardkzName | default: "Zastupitelstvo" }}</h2>
  <ul class="unordered-list unordered-list--linked">
    {% for chair in page.boardkz %}
      {% if chair.uid %}
          {% assign person = site.people | where_exp: "item","item.uid contains chair.uid" | first %}
          <li>
            <span>{{ chair.position }}: <a class="content-block--nostyle font-bold" href="{{ person.url }}">{{ person.name }}</a></span>
          </li>
      {% else %}
          <li>
            <span>{{ chair.position }}: <strong>{{ chair.name }}</strong></span>
          </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% if page.boardkzTurn %}
      <p>Vznik mandátu: <a href="{{ page.boardkzTurn.electionUrl }}" style="text-decoration:underline"> {{ page.boardkzTurn.startDate }} </a></p>
  {% endif %}
{% endif %}
