<div class="c-program-candidate-badge">
  <a class="c-program-candidate-badge__body" href="{{ include.candidatePage.url | relative_url }}">  
      <div class="c-program-candidate-badge__avatar">
          {% if include.candidatePage.img %}
            {% if site.mediaStorage %}
                {% capture img %}https://a.pirati.cz/resize/225x225/{{ site.mediaStorage }}/img/{{ include.candidatePage.img }}{% endcapture %}
            {%- else -%}
                {% capture img %}{% asset '{{ include.candidatePage.img }}' magick:resize='225x225^' magick:gravity='center' magick:crop='225x225+0+0' @path %}{% endcapture %}
            {%- endif -%}
          {% else %}
            {% capture img %}https://a.pirati.cz/common/img/people/unknown-pirate.svg{% endcapture %}
          {% endif %}        
          <img src="{{ img }}" alt="{% include people/fullname.html person=include.candidatePage plain=true %}" class="c-program-candidate-badge__avatar-image">
      </div>
      <div class="c-program-candidate-badge__description">
          <h4 class="c-program-candidate-badge__name"><span class="c-headline-anchor">{% include people/fullname.html person=include.candidatePage %}</span></h4>
          <strong class="c-program-candidate-badge__profession">
            {% if include.candidate.post1 %}
              <li style="margin-left: 10px;">{{ include.candidate.post1 }}</li>
            {% endif %}
            {% if include.candidate.post2 %}
              <li style="margin-left: 10px;">{{ include.candidate.post2 }}</li>
            {% endif %}   
            {% if include.candidate.post3 %}
              <li style="margin-left: 10px;">{{ include.candidate.post3 }}</li>
            {% endif %}
            {% if include.candidate.post4 %}
              <li style="margin-left: 10px;">{{ include.candidate.post4 }}</li>
            {% endif %}
            {% if include.candidate.post5 %}
              <li style="margin-left: 10px;">{{ include.candidate.post5 }}</li>    
            {% endif %}
          </strong>
          {% if include.candidate.description %}
          <p class="c-program-candidate-badge__bio">{{ include.candidate.description }}</p>
          {% endif %}
      </div>
  </a>
</div>
