---
layout: blank-article
---

<div class="c-corner-ribbon-container">
  {% assign candidates = site.candidatelists | where: "uid", page.candidateListUid | first %}
  {% assign programCategories = site.program | where: "campaignCategoryUid", page.campaignCategoryUid | sort:"order" %}

  {% capture headline %}{{ page.title }}{% if candidates.number %}<span class="t-subheader u-1margin--left"></span>{% endif %}{% endcapture %}
  {% capture headerContent %}
    <div class="c-content-block c-emphasized-text">{{ content }}</div>
  {% endcapture %}

  {% include page-header.html headline=headline content=headerContent %}
</div>

<div class="o-section">
  <div class="row">
    {% if programCategories.size > 0 %}    
      <div class="columns medium-6">
    {% else %}    
      <div class="columns medium-12">
    {% endif %}    
      <div class="o-section-header o-section-header--bordered">
        <h3 class="o-section__heading t-h2-super">Naši lidé</h3>
      </div>
      <div class="c-program-candidates">

        {% if candidates.head.size %}
            {% for candidate in candidates.head %}
              {% assign candidatePage = site.people | where: "uid", candidate.uid  | first %}              
              {% include communal-badge.html candidate=candidate candidatePage=candidatePage leader=false %}
            {% endfor %}
        {% endif %}

        {% if candidates.tail.size > 0 %}
          <div class="c-program-candidates__others">
            {% for candidate in candidates.tail %}
              <p>
                <div itemprop="description" class="c-content-block c-emphasized-text">
                {% assign candidateRank = forloop.index | plus: 1 | plus: candidates.head.size %}
                <strong>
                    {% if candidate.uid %} 
                        {% assign candidatePage = site.people | where: "uid", candidate.uid | first %}
                        <a href={{candidatePage.url}}> {% include people/fullname.html person=candidatePage %}</a>{% if candidate.post1 or candidate.post2 or candidate.post3 or candidate.post4 or candidate.post5 %}<br> {% endif %}
                    {% else %}
                        {{ candidate.name }}{% if candidate.post1 or candidate.post2 or candidate.post3 or candidate.post4 or candidate.post5 %}, {% endif %}
                    {% endif %}
                </strong>

                {% if candidate.post1 %}
                    <li>{{ candidate.post1 }}{% if candidate.post2 or candidate.post3 or candidate.post4 or candidate.post5 %} {% endif %}
                {% endif %}
                {% if candidate.post2 %}
                    <li>{{ candidate.post2 }}<br>{% if candidate.post3 or candidate.post4 or candidate.post5 %} {% endif %}
                {% endif %}
                {% if candidate.post3 %}
                    <li>{{ candidate.post3 }}<br>{% if candidate.post4 or candidate.post5 %} {% endif %}
                {% endif %}
                {% if candidate.post4 %}
                    <li>{{ candidate.post4}}<br>{% if candidate.post5 %} {% endif %}
                {% endif %}
                {% if candidate.post5%}
                    <li>{{ candidate.post5}}
                {% endif %}
                </div>
              </p>
            {% endfor %}
          </div>
        {% endif %}

      </div>

      {% if candidates.note %}
        <p><strong>Pozn.:</strong> {{ candidates.note }}</p>
      {% endif %}
    </div>
    {% if programCategories.size > 0 %}    
    <div class="columns medium-6">
      <div class="o-section-header o-section-header--bordered">
        <h3 class="o-section__heading t-h2-super">Práce v zastupitelstvu</h3>
      </div>
      <div class="c-program-items">
          {% for category in programCategories %}
          <div class="c-program-items__item">
            <div class="c-program-items__item-wrap c-tile c-tile--fill">
              <div class="c-program-items__item-inner c-tile__body">
                <a href="{{ category.url | relative_url }}">
                  <h3 class="c-program-items__item-title c-headline-anchor t-h4">{{ category.title }}</h3>
                  <p>{{ category.perex }}</p>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
    {% endif %}    
  </div>
</div>
