---
layout: blank-article
---

<div class="c-corner-ribbon-container">
  {% assign candidates = site.candidatelists | where: "uid", page.candidateListUid | first %}
  {% assign programCategories = site.program | where: "campaignCategoryUid", page.campaignCategoryUid | sort:"order" %}

  {% capture headline %}{% if candidates.number %}<span class="t-subheader u-1margin--left">&raquo; volte č. {{ candidates.number }} &laquo;</span>{% endif %}{% endcapture %}
  {% capture headerContent %}
    <div class="c-content-block c-emphasized-text">{{ content }}</div>
  {% endcapture %}

  {% if candidates.number %}
    <div class="c-corner-ribbon c-corner-ribbon--top-right show-for-medium">Volte č. {{ candidates.number }}!</div>
  {% endif %}

  {% include page-header.html headline=headline content=headerContent %}
</div>

<div class="o-section">
  <div class="row">
    {% if programCategories.size > 0 %}
    <div class="columns medium-12">
      <div class="o-section-header o-section-header--bordered">
        <h3 class="o-section__heading t-h2-super">Program</h3>
      </div>
      <div class="c-program-items">
          {% for category in programCategories %}
          <div class="c-program-items__item">
            <div class="c-program-items__item-wrap c-tile c-tile--fill">
              <div class="c-program-items__item-inner c-tile__body">
                <a href="{{ category.url | relative_url }}">
                  <h3 class="c-program-items__item-title c-headline-anchor t-h4">{{ category.title }}</h3>
                  <p>
                    {{ category.perex1 }}
                    {{ category.perex2 }}
                    {{ category.perex3 }}</p>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
